## Compilação
bin/
obj/
out/

## User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

## Logs
*.log

## VS Code
.vscode/

## Rider
.idea/

## Arquivos do Visual Studio
.vs/
*.dbmdl
*.pdb

## Configurações locais
appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json

## Dados e Backup
*.bak
*.backup
*.mdf
*.ldf

## Migrations antigas (opcional, se desejar limpar antes do push)
**/Migrations/*

## Arquivos de dependências
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Sistema operacional
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/

## Docker
**/docker-compose.override.yml
**/docker-compose.*.yml
**/.docker/

## Teste e publicação
TestResults/
*.coverage
*.coveragexml
*.testsettings
*.vsp
*.vspscc
*.vssscc
*.vsmdi

## Cache do NuGet
~/.nuget/packages/
.nuget/

## Secrets do .NET
secrets.json
